.board {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  width: 890px;
  height: 680px;

  }

.card {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: black;
  border-style: solid;
  margin-left: 10px;
  text-align: center;
  font-size: 30px;
  align-self: center;


}
